<div id="tbox"><a id="gotop" href="javascript:scroll(0,0)"></a> </div>
<volist name="footer" id="f">
<footer id="zyn-footer">
	<div class="container">
	{$f.scopyright}
	</div>
</footer>
</volist>  

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

    
  </body>
</html>