<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="洛书 | BLOG">
    <meta name="author" content="洛书">
    <title>洛书 | 博客</title>
   <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/base.css" rel="stylesheet">
    <link href="__PUBLIC__/css/about.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="__PUBLIC__/css/offcanvas.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
  </head>
 
  <body>
    <include file="Public/header" />
	
 <div class="container"> 
  <article>
   
      <div class="col-md-8 col-sm-12">               
		<div class="panel panel-green-sea">
		    <div class="panel-heading">
		        <h2 class="panel-h1-title">
		            关于本站
		        </h2>
		    </div>
		    <div class="panel-body bg-white">
		    <img src="{$img}" class="img-responsive" alt="洛书的独立博客" width="140" height="125" />
		        <volist name="show" id="ab">
		        {$ab.about|htmlspecialchars_decode}
		       </volist>
		    </div>
		</div>
		</div>
	
      <div class="col-md-6 col-lg-4 >
        <include file="Public/right"/>
        </div>
	<!--r_box end --> 
	</article>
     </div>
    
  



   
      
    <!--tit01 end-->
    <include file="Public/footer"/> 
  
   




