<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>
 	<script type="text/JavaScript" src="__PUBLIC__/ckeditor/ckeditor.js"></script> 
    <script>
    function centerWindow(ulr,name,width,height){
    	var left = (screen.width - width) / 2;
    	var top = (screen.height - height) / 2 - 50;
    	window.open(ulr,name,'width='+width+',height='+height+',top='+top+',left='+left);
    	}
    </script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
  <div class="body-content">
  
    <form method="post" name="infos" class="form-x" action="{:U('Adminls/About/update')}" > 
    <volist name="about" id="vo">
    <input type = "hidden" name="id" value="{$vo.id}">
      <div class="form-group">
        <div class="label">
          <label>内容：</label>
        </div>
        <div class="field">
          <textarea id="TextArea1" name="about" class="ckeditor" >{$vo.about}</textarea>
          <script >
          	CKEDITOR.replace( 'content', {
              	filebrowserImageUploadUrl  :  "{:U('Adminls/Ckeup/upload')}"
          	});
          </script>
          <div class="tips"></div>
        </div>
      </div>
       
      <div class="form-group">
        <div class="label">
          <label>个人描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="only">{$vo.only}</textarea>
          <div class="tips"></div>
        </div>
      </div>
      
     
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
       </volist>
    </form>
  </div>
</div>
</body></html>